@{
    ViewBag.Title = "Cadastro área";
}
<h3>Área</h3>
<form name="formCadastro" action="/Area/areaCadastro" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1"> Área </label>
        <input type="text" name="areaDescricao" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe a área">
    </div>
    <button type="submit" class="btn btn-primary"> Cadastrar </button>
    <a href="/Area/areaIndex"> Voltar</a>
</form>
