@Model Almoxarifado.Models.Colaborador
@{
    ViewBag.Title = "Editar colaborador";
}
<h3>Editar dados do colaborador</h3>
<form name="formCadastro" action="/Colaborador/colaboradorEditar?id=@Model.idColaborador&&idArea=@Model.idArea" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1"> Nome do colaborador </label>
        <input type="text" name="nomeColaborador" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.nomeColaborador">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1"> Cargo do colaborador </label>
        <input type="text" name="cargoColaborador" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.cargoColaborador">
    </div>
    <button type="submit" class="btn btn-warning"> Salvar alterações </button> <br/>
    
</form>
<a href="/Colaborador/colAlterarArea?idCol=@Model.idColaborador"  class="btn btn-warning"> Editar área do colaborador </a> <br/>
<a href="/Colaborador/colaboradorIndex" class="btn btn-primary"> Voltar </a>
