@Model Almoxarifado.Models.Area
@{
    ViewBag.Title = "Home Page";
}
<h3>Área</h3>
<form name="formCadastro" action="/Area/areaEditar" method="post">
    <div class="form-group">

        <label for="exampleInputEmail1"> Área </label>
        <input type="hidden" name="idArea" value="@Model.idArea">
        <input type="text" name="areaDescricao" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.areaDescricao">

    </div>
    <button type="submit" class="btn btn-primary"> Editar </button>
    <a href="/Area/areaIndex"> Voltar</a>
</form>
